h1{
    color: red;
    text-shadow: 2px 2px 4px #000000;
   
}
h2{

}
.Parent1{
    display: flex;
    margin:1%;
    }

   
   .P1
   {
    width:300px;
    height:450px;
    margin: 2%;
    border:2px;
    border-color: black;
    background-color:rgb(114, 187, 218) ;
    border-style:solid ;
    
   }
   .img1{
    margin:5%
   
   }
   .P2
   {
    width:300px;
    height:450px;
    margin: 2%;
    border:2px;
    border-color: black;
    background-color:rgb(161, 140, 181);
    border-style:solid ;
    
   }
   .img2{
    margin:5%
   }
   .P3
   {
    width:300px;
    height:450px;
    margin: 2%;
    border:2px;
    border-color: black;
    background-color:rgb(210, 231, 91);
    border-style:solid ;
    
   }
   .img3{
    margin:4%
   }
   .P4
   {
    width:300px;
    height:450px;
    margin: 2%;
    border:2px;
    border-color: black;
    background-color:rgb(32, 231, 75);
    border-style:solid ;
    
   }
   .img4{
    margin:4%
   }
   .Parent2{
    display: flex;
    margin:1%;
    }
    .P5
   {
    width:300px;
    height:450px;
    margin: 2%;
    border:2px;
    border-color: black;
    background-color:rgb(194, 76, 188);
    border-style:solid ;
    
   }
   .img5{
    margin:5%
   }
   .P6
   {
    width:300px;
    height:450px;
    margin: 2%;
    border:2px;
    border-color: black;
    background-color:rgb(67, 11, 135);
    border-style:solid ;
    
   }
   .img6{
    margin:5%
   }
   .P7
   {
    width:300px;
    height:450px;
    margin: 2%;
    border:2px;
    border-color: black;
    background-color:rgb(188, 232, 239);
    border-style:solid ;
    
   }
   .img7{
    margin:5%;
   }
   .P8
   {
    width:300px;
    height:450px;
    margin: 2%;
    border:2px;
    border-color: black;
    background-color:rgb(213, 244, 250);
    border-style:solid ;
    
   }
   .img8{
    margin:3%;
   }
